/* add home page styles here */
* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: grid;
    grid-template-rows: 1fr 10fr 2fr;
    margin-right: 10%;
    margin-left: 10%;
}

#main-heading {
    display: flex;
    justify-content: space-between;
}

#main-heading-left, #main-heading-right {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.print {
    width: 40px;
}

#main-recipe {
    display: flex;
    background-image: url(../assets/list-bg.png);
}

#about-me-section {
    display: flex;
}
#left-side-nav {
    display: flex;
    
    
}
.logo{
   


}
.icon{
   float: left;
    margin-top: 10px;
    

}
.icon:nth-child(7) {
    
    margin-left: 10px;
}
.hr{
 border: none;
 border-top-color: gray;
 border-top-style: groove;
 border-top-width: 10px;

}