/* add home page styles here */
* {
    /* border: 1px solid black; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    padding-right: 10%;
    padding-left: 10%;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: grid;
    grid-template-rows: 1fr 10fr 2fr 1.3fr;
}

#main-heading {
    display: flex;
    justify-content: space-between;
}

#main-heading-left, #main-heading-right {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.print {
    width: 40px;
}

#main-recipe {
    display: flex;
    background-image: url(../assets/list-bg.png);
}

#about-me-section {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    width: 100%;
}

#about-me-pic {
    display: flex;
    align-items: center;
}

#about-me-pic > img {
    width: 80%;
    height: auto;
}

#about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.3em;
}

#about-me-text > p {
    color: slategray;

}

#about-me-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#about-me-button > button {
    height: 50%;
    width: 80%;
    color: white;
    border: none;
    background-color: rgb(236, 134, 99);
    cursor: pointer;
}

